@import url("https://fonts.googleapis.com/css?family=Material+Icons|Lato:400|Ubuntu:300,400,500,500i&subset=latin-ext");
@import "./Header";
@import "./Form.scss";
@import "./Weather.scss";
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');


*{
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #f8f8f8;
  background-image: url("./images/clouds-2329680_1920.jpg");
  background-position:center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
}
